{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav">
        <li class="nav-item nav-item-override">
            <a class="nav-link" href="../../../index.html">
                <i class="fas fa-arrow-left"></i>
                Back to Index
            </a>
        </li>
        <!-- {#
        <li class="nav-item nav-item-override">
            <a class="nav-link" href="../information/index.html">
                <i class="fas fa-info"></i>
                Information
            </a>
        </li>
        #} -->
        <!-- <li class="nav-item">
            <a class="nav-link" href="../files/index.html">
                <i class="far fa-file"></i>
                File Browser
            </a>
        </li> -->
        <!-- {% if images.length > 0 %}
        <li class="nav-item">
            <a class="nav-link" href="../images/{{images[0].path.split('/').pop()}}.html">
                <i class="far fa-image"></i>
                Image
            </a>
        </li>
        {% endif %} -->
        <!-- {# {% if media.length > 0 %}
        <li class="nav-item">
            <a class="nav-link" href="../media/{{media[0].name}}.html">
                <i class="far fa-file-audio"></i>
                Audio / Video
            </a>
        </li>
        {% endif %} #} -->
        <!-- {# {% if documents.length > 0 %}
        <li class="nav-item">
            <a class="nav-link" href="../documents">
                <i class="far fa-file-pdf"></i>
                Documents
            </a>
        </li>
        {% endif %} #} -->
        <!-- {# {% if data.transcriptions.length > 0 %}
        <li class="nav-item">
            <a class="nav-link" href="../transcriptions">
                <i class="far fa-file-code"></i>
                TRANSCRIPTIONS
            </a>
        </li>
        {% endif %} #} -->
    </ul>
</nav>
{% endblock %}
