<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8 ">
    <meta name="viewport " content="width=device-width, initial-scale=1, shrink-to-fit=no ">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./assets/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/styles.css">
</head>

<body class="main-viewer-color">
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-brand">
            PARADISEC Offline Catalog
        </div>
    </nav>

    <div class="container-fluid grow">
        <div class="d-flex py-4">
            <div class="flex-grow-1 px-2">
                <div class="row file-viewer-link-styling text-center">
                    <div class="col">
                        <a class="btn btn-default" href="#indexById">Jump to index by Identifier</a>
                        <a class="btn btn-default" href="#indexByGenre">Jump to index by Genre</a>
                        <a class="btn btn-default" href="#indexBySpeaker">Jump to index by Speaker</a>
                    </div>
                </div>

                <div class="row mt-4 file-viewer-link-styling">
                    <div id="indexById" class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                        <h5>Browse items by Identifier</h5>
                        <hr/>
                        {% for key, items in data.byIdentifier %}
                            {% for item in items %}
                                <div class="row">
                                    <div class="col">
                                        {% if item.data.elements > 1 %}
                                            <a href="./{{item.collectionId}}/{{item.itemId}}/files/index.html">
                                                {{item.collectionId}} / {{item.itemId}}
                                            </a>
                                        {% else %}
                                            {% if item.data.images.length %}
                                                <a href="./{{item.collectionId}}/{{item.itemId}}/images/{{item.data.images[0].split('/').pop()}}.html">
                                                    {{item.collectionId}} / {{item.itemId}}
                                                </a>
                                            {% elif item.data.documents.length %}
                                                <a href="./{{item.collectionId}}/{{item.itemId}}/files/index.html">
                                                    {{item.collectionId}} / {{item.itemId}}
                                            {% elif item.data.media.length %}
                                                <a href="./{{item.collectionId}}/{{item.itemId}}/media/{{item.data.media[0].name}}.html">
                                                    {{item.collectionId}} / {{item.itemId}}
                                                </a>
                                            {% endif %}
                                        {% endif  %}
                                        : {{item.data.title}}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>

{}
                    <div id="indexByGenre" class="mt-4 col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                        <h5>Browse items by Genre</h5>
                        <hr/>
                        {% for key, items in data.byGenre%}
                            <div class="mt-4">{{key}}</div>
                            {% for item in items %}
                                <div class="row">
                                    <div class="col">
                                        {% if item.data.elements > 1 %}
                                            <a href="./{{item.collectionId}}/{{item.itemId}}/files/index.html">
                                                {{item.collectionId}} / {{item.itemId}}
                                            </a>
                                        {% else %}
                                            {% if item.data.images.length %}
                                                <a href="./{{item.collectionId}}/{{item.itemId}}/images/{{item.data.images[0].split('/').pop()}}.html">
                                                    {{item.collectionId}} / {{item.itemId}}
                                                </a>
                                            {% elif item.data.documents.length %}
                                                <a href="./{{item.collectionId}}/{{item.itemId}}/files/index.html">
                                                    {{item.collectionId}} / {{item.itemId}}
                                            {% elif item.data.media.length %}
                                                <a href="./{{item.collectionId}}/{{item.itemId}}/media/{{item.data.media[0].name}}.html">
                                                    {{item.collectionId}} / {{item.itemId}}
                                                </a>
                                            {% endif %}
                                        {% endif  %}
                                        : {{item.data.title}}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>

                    <div id="indexBySpeaker" class="mt-4 col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                        <h5>Browse items by Speaker</h5>
                        <hr/>
                        {% for key, items in data.bySpeaker%}
                            <div class="mt-4">{{key}}</div>
                            {% for item in items %}
                                <div class="row">
                                    <div class="col">
                                        {% if item.data.elements > 1 %}
                                            <a href="./{{item.collectionId}}/{{item.itemId}}/files/index.html">
                                                {{item.collectionId}} / {{item.itemId}}
                                            </a>
                                        {% else %}
                                            {% if item.data.images.length %}
                                                <a href="./{{item.collectionId}}/{{item.itemId}}/images/{{item.data.images[0].split('/').pop()}}.html">
                                                    {{item.collectionId}} / {{item.itemId}}
                                                </a>
                                            {% elif item.data.documents.length %}
                                                <a href="./{{item.collectionId}}/{{item.itemId}}/files/index.html">
                                                    {{item.collectionId}} / {{item.itemId}}
                                            {% elif item.data.media.length %}
                                                <a href="./{{item.collectionId}}/{{item.itemId}}/media/{{item.data.media[0].name}}.html">
                                                    {{item.collectionId}} / {{item.itemId}}
                                                </a>
                                            {% endif %}
                                        {% endif  %}
                                        : {{item.data.title}}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>




                </div>
            </div>
        </div>
    </div>
</body>

</html>