{# {% extends "./base.html" %} #}

{# {% block content %} #}
    {# <div class="row">
        <div class="col text-center">
            <h2>{{data.title}}</h2>
        </div>
    </div> #}

    {# <div class="row">
        <div class="col">
            <h5>Contributors</h5>
            <ul>
                {% for contributor in data.contributor %}
                    <li>{{contributor.name}} ({{contributor.role}})</li>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div> #}

    <div class="row py-4">
        <div class="col">
            <h5>Item Description</h5>
            {{data.description}}
        </div>
    </div>
{# {% endblock %} #}