{# {% extends "./base.html" %} #}

{# {% block content %} #}
    {# <div class="row">
        <div class="col text-center">
            <h2>{{data.title}}</h2>
        </div>
    </div> #}

    {# <div class="row">
        <div class="col">
            <h5>Contributors</h5>
            <ul>
                {% for contributor in data.contributor %}
                    <li>{{contributor.name}} ({{contributor.role}})</li>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div> #}

    <div class="row">
        <div class="col">
            <h6>Speakers</h6>
            <ul>
                {% for agent in data.agents %}
                    {% if agent.role === 'speaker' %}
                        <li>{{ agent.name}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Other agents</h6>
            <ul>
                {% for agent in data.agents %}
                    {% if agent.role !== 'speaker' %}
                        <li>{{ agent.name}} ({{agent.role}})</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h6>Description</h6>
            {{data.description}}
        </div>
    </div>
{# {% endblock %} #}