.navbar {
    background-color: rgb(96, 125, 139);
}

.nav-item a {
    color: rgb(255, 255, 255);
    margin: 0px 15px;
}

.main-viewer-color {
    background-color: #f2f1ef;
}

.grow {
    height: calc(100vh - 60px);
}

.file-viewer-link-styling a {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
}

.file-viewer-link-styling a:link,
.file-viewer-link-styling a:visited {
    text-decoration: none;
}

.file-viewer-link-styling a:hover,
.file-viewer-link-styling a:active {
    text-decoration: underline;
}

.file-viewer-link-styling a:link,
.file-viewer-link-styling a:visited {
    color: #607d8b;
}
