html,
body {
    background-color: #f2f1ef;
}

.nav-local-style {
    background-color: #f2f1ef;
}

.btn,
.btn:hover {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #ef6c00;
}

a,
.btn {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
}

a:link,
a:visited,
.btn:link,
.btn:visited {
    text-decoration: none;
    color: #607d8b;
}

a:hover,
a:active,
.btn:hover,
.btn:active {
    text-decoration: underline;
}
